Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/Wwise/ThirdParty/tvOS/Release-appletvsimulator/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/tvOS/Release-appletvos/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/tvOS/Profile-appletvsimulator/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/tvOS/Profile-appletvos/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/tvOS/Debug-appletvsimulator/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/tvOS/Debug-appletvos/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/Mac/Release/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/Mac/Profile/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/Mac/Debug/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/iOS/Release-iphonesimulator/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/iOS/Release-iphoneos/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/iOS/Profile-iphonesimulator/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/iOS/Profile-iphoneos/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/iOS/Debug-iphonesimulator/lib/libAkSoundEngine.a
Plugins/Wwise/ThirdParty/iOS/Debug-iphoneos/lib/libAkSoundEngine.a
GFTest_WwiseProject/ProfilingSession54.prof
GFTest_WwiseProject/ProfilingSession53.prof
GFTest_WwiseProject/ProfilingSession52.prof
GFTest_WwiseProject/ProfilingSession51.prof
GFTest_WwiseProject/ProfilingSession50.prof
*.prof
Plugins/Wwise/ThirdParty/iOS/Profile-iphoneos/lib/libAkMusicEngine.a
Plugins/Wwise/ThirdParty/iOS/Debug-iphonesimulator/lib/libAkMusicEngine.a
Plugins/Wwise/ThirdParty/iOS/Debug-iphoneos/lib/libAkMusicEngine.a
